<!DOCTYPE html>
<html>

<head></head>

<body>
  <div class="gridster">
    <ul>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="5" data-template="menu.html"></li>
      <li data-row="1" data-col="2" data-sizex="7" data-sizey="1">
        <header>ARBEITSZIMMER DAD</header>
        <div class="sheet">
          <div class="row">
            <div class="cell">
              <div data-type="thermostat" data-device="20_DG_AZ_Dad_HzgThermostat_Erker_Clima" data-valve="ValvePosition"></div>
              <span>Erker</span>
            </div>
            <div class="cell">
              <div data-type="thermostat" data-device="20_DG_AZ_Dad_HzgThermostat_Westen_Clima" data-valve="ValvePosition"></div>
              <span>Westen</span>
            </div>
            <div class="cell">
              <div data-type="thermostat" data-device="20_DG_AZ_Dad_Temp_Regler_Climate" data-valve="ValvePosition"></div>
              <span>Regler</span>
            </div>
            <div class="cell">
            </div>
          </div>
        </div>
      </li>
      <li data-row="2" data-col="2" data-sizex="3" data-sizey="2">
        <header>ARBEITSZIMMER MAM</header>
      </li>
      <li data-row="2" data-col="3" data-sizex="4" data-sizey="2">
        <header>BAD</header>
      </li>
      <li data-row="3" data-col="2" data-sizex="4" data-sizey="2">
        <header>BALKONZIMMER</header>
      </li>
      <li data-row="3" data-col="3" data-sizex="3" data-sizey="2">
        <header>FLUR</header>
      </li>
    </ul>
  </div>
</body>

</html>
