<!DOCTYPE html>
<html>

<head></head>

<body>
  <div class="gridster">
    <ul>
      <!-- bindet das Navigationsmenü der Seitenleiste ein -->
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="5" data-template="menu.html"></li>

      <li data-row="1" data-col="2" data-sizex="2" data-sizey="2">
        <header>ESSZIMMER</header>
        <div class="sheet">
          <div class="row">
            <div class="cell">
              <div data-type="thermostat" data-device="10_EG_Esszimmer_HzgThermostat_Clima" data-valve="ValvePosition"></div>
              <span>Normal</span>
            </div>
            <div class="cell">
              <div data-type="thermostat" data-device="10_EG_Esszimmer_Wand_HzgThermostat_Clima" data-valve="ValvePosition"></div>
              <span>Wand</span>
            </div>
          </div>
          <div class="row">
            <div class="cell">
              <div data-template="templates/devices/rolladen.html" data-parameter='{"deviceName":"10_EG_Esszimmer_Rollladen"}'></div>
              <span>Rollladen
                <br />Esszimmer</span>
            <div class="cell"></div>
          </div>
        </div>
      </li>
      <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
        <header>1x2 - 2x2</header>
        <div class="sheet">
          <div class="row">
            <div class="cell" />
          </div>
        </div>
      </li>
      <li data-row="1" data-col="4" data-sizex="2" data-sizey="2">
        <header>1x3 - 2x2</header>
        <div class="sheet">
          <div class="row">
            <div class="cell" />
          </div>
        </div>
      </li>
      <li data-row="1" data-col="5" data-sizex="1" data-sizey="2">
        <header>1x4 - 2x2</header>
        <div class="sheet">
          <div class="row">
            <div class="cell" />
          </div>
        </div>
      </li>

      <li data-row="2" data-col="2" data-sizex="3" data-sizey="2">
        <header>WOHNZIMMER</header>
        <div class="sheet">
          <div class="row">
            <div class="cell" data-type="thermostat" data-device="10_EG_Wohnzimmer_HzgThermostat_Erker_Nord_Clima"
              data-valve="ValvePosition"></div>
            <div class="cell" data-type="thermostat" data-device="10_EG_Wohnzimmer_HzgThermostat_Erker_Sued_Clima"
              data-valve="ValvePosition"></div>
            <div class="cell" data-type="thermostat" data-device="10_EG_Wohnzimmer_HzgThermostat_Westen_Clima"
              data-valve="ValvePosition"></div>
          </div>
          <div class="row">
            <div class="cell">
              <div data-template="templates/devices/rolladen.html" data-parameter='{"deviceName":"10_EG_WohnZimmer_Rollladen_Erker_Nord"}'></div>
              <span>Rollladen
                <br />Erker Nord</span>
            </div>
            <div class="cell">
              <div data-template="templates/devices/rolladen.html" data-parameter='{"deviceName":"10_EG_WohnZimmer_Rollladen_Erker_Sued"}'></div>
              <span>Rollladen
                <br />Erker Süd</span>
            </div>
            <div class="cell">
              <div data-template="templates/devices/rolladen.html" data-parameter='{"deviceName":"10_EG_WohnZimmer_Rollladen_Westen"}'></div>
              <span>Rollladen
                <br />Westen</span>
            </div>
          </div>
        </div>
      </li>
      <li data-row="2" data-col="3" data-sizex="2" data-sizey="2">
        <header>2x2 - 2x2</header>
        <div class="sheet">
          <div class="row">
            <div class="cell" />
          </div>
        </div>
      </li>
      <li data-row="2" data-col="4" data-sizex="2" data-sizey="2">
        <header>2x3 - 2x2</header>
        <div class="sheet">
          <div class="row">
            <div class="cell" />
          </div>
        </div>
      </li>

      <li data-row="3" data-col="2" data-sizex="7" data-sizey="1">
        <header>2x4 - 2x2</header>
        <div class="sheet">
          <div class="row">
            <div class="cell" />
          </div>
        </div>
      </li>
    </ul>
  </div>
</body>

</html>
