<!DOCTYPE html>
<html>

<head></head>

<body>
  <div class="gridster">
    <ul>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="5" data-template="menu.html"></li>
      <li data-row="1" data-col="2" data-sizex="7" data-sizey="5" class="left-align">
        <header>SICHERHEIT</header>
        <ul>
          <li data-row="1" data-col="2" data-sizex="7" data-sizey="1">
            <header>FENSTER</header>
            <div class="sheet">
              <div class="row">
                <div class="cell">
                  <div class="big" 
                       data-type="symbol" 
                       data-device="00_UG_Technikraum_FensterSensor"
                       data-states='["open","closed"]' 
                       data-icons='["ftui-window warn","ftui-window"]' />
                  <span>Technikraum</span>
                </div>
                <div class="cell">
                  <div class="big" 
                       data-type="symbol" 
                       data-device="00_UG_Freizeitraum_FensterSensor" 
                       data-states='["open","closed"]' 
                       data-icons='["ftui-window warn","ftui-window"]' />
                  <span>Freizeitraum</span>
                </div>
                <div class="cell">
                  <div class="big" 
                       data-type="symbol" 
                       data-device="10_EG_Kueche_Fenster_Norden_Sensor" 
                       data-states='["open","closed"]' 
                       data-icons='["ftui-window warn","ftui-window"]' />
                  <span>Küchenfenster Norden</span>
                </div>
                <div class="cell">
                  <div class="big" 
                       data-type="symbol" 
                       data-device="10_EG_Toilette_Fenster_Sensor" 
                       data-states='["open","closed"]' 
                       data-icons='["ftui-window warn","ftui-window"]' />
                  <span>Toilettenfenster</span>
                </div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
              </div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</body>

</html>
