<div class="page" id="sicherheit">
  <ul>
    <li data-row="1" data-col="1" data-sizey="1" data-sizex="8">
      <header>FENSTER</header>
      <div class="sheet">
        <div class="row">
          <div class="cell">
            <div class="big" data-type="symbol" data-device="00_UG_Technikraum_FensterSensor"></div>
            <div data-type="label" class="top-narrow  darker small">Technikraum</div>
          </div>
          <div class="cell">
            <div class="big" data-type="symbol" data-device="00_UG_Freizeitraum_FensterSensor"></div>
            <div data-type="label" class="top-narrow  darker small">Freizeitraum</div>
          </div>
          <div class="cell">
            <div class="big" data-type="symbol" data-device="10_EG_Kueche_Fenster_Norden_Sensor"></div>
            <div data-type="label" class="top-narrow  darker small">Küchenfenster Norden</div>
          </div>
          <div class="cell">
            <div class="big" data-type="symbol" data-device="10_EG_Toilette_Fenster_Sensor" data-on-color="#ff0000"></div>
            <div data-type="label" class="top-narrow  darker small">Toilettenfenster</div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
