<div data-type="circlemenu">
  <ul>
    <li>
      <div data-type="symbol" 
           data-get="pct"
           data-device="deviceName" 
           data-limits='["0","[12]*[0-9]","[34][0-9]","[56][0-9]","[78][0-9]","([9][0-9]|100)"]' 
           data-colors='["#FFFFFF","#666666","#999999","#BBBBBB","#DDDDDD","#FFFFFF"]' 
           data-icons='["oa-fts_shutter_100","oa-fts_shutter_80","oa-fts_shutter_60","oa-fts_shutter_40","oa-fts_shutter_20","oa-fts_shutter_10"]' />
    </li>
    <li>
      <div data-type="push" data-device="deviceName" data-set="pct" data-set-on="100" data-background-icon="" data-icon="oa-fts_shutter_10"></div>
    </li>
    <li>
      <div data-type="push" data-device="deviceName" data-set="pct" data-set-on="0" data-background-icon="" data-icon="oa-fts_shutter_100"></div>
    </li>
    <li>
      <div data-type="push" data-device="deviceName" data-set="pct" data-set-on="100" data-background-icon="" data-icon="oa-fts_shutter_up"></div>
    </li>
    <li>
      <div data-type="push" data-device="deviceName" data-set="pct" data-set-on="0" data-background-icon="" data-icon="oa-fts_shutter_down"></div>
    </li>
    <li>
      <div data-type="push" data-device="deviceName" data-set-on="stop" data-background-icon="" data-icon="fa-hand-stop-o"></div>
    </li>
  </ul>
</div>
